.container{
  display: flex;
}

.Left_profile_bar{
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  /* border: 2px blue;
  border-style: dashed; */
  background-color: #D9D9D9;
  width: 240px;
  height: 1000px;
  padding-top: 5px;
  
}

.Circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2596B6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  margin: 25px auto;
}

.SideButtons{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 50px 50px;    
  gap: 40px;
}

.SideButtons a {
  display: flex;       
  align-items: center;
}

.SideButtons a img {
  margin-right: 10px;
}