/************************************************************/
/* Default Styling For Entire Page*/

*
{
  padding: 0px;
  margin: 0px;
}

/************************************************************/
/* Contains Everything Related To The Main Div For The Forgot
   Password Page, Starts Below The Navigation Bar 
*/

.Container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: calc(100vh - 100px);
  /* background-color: rgb(231, 232, 224); Red to see div*/
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

/************************************************************/
/* Contains Everything Related To The Forgot Password Form */

.forgotPasswordForm{

  justify-content: center;
  align-items: center;
  background-color: rgb(231, 232, 224); /* Green to see div*/
  padding: auto;
  padding: 4rem;
  border-radius: 5px;
  border: 2px solid #B4B4B4;
  box-shadow: 0px 0px 10px 2px black;
  width: auto;
  max-width: 450px;
}

/************************************************************/
/* Contains Everything Related To The Forgot Password 
   Instructions */

.forgotPasswordInstructions{
    justify-content: center;
    text-align: center;

    color: black;

    word-wrap: break-word;
}

/************************************************************/
/* Contains Everything Related To The Email Input */

.forgotPasswordEmailLabel{
  display: inline;
  color: black;
}

.forgotPasswordEmailInput{
  width: 325px;
  height: 50px;
  font-size: 20px;
  border: 2px solid #B4B4B4;
  border-radius: 5px;
  padding-left: 5px;
  color: black;
  background-color: rgb(231, 232, 224);
}

.forgotPasswordEmailInput:focus{
  outline: none;
  border-color: transparent;
  border: 3px solid #2B96B7;
  caret-color: #2B96B7;

}

.forgotPasswordEmailAsterisk{
  color: red;
}

.emailError{
  height: 0px;
  padding-top: 3px;
  text-align: left;
  font-size: 10pt;
  color: red;
}

/************************************************************/
/* Contains Everything Related To The Send Button */

.sendButtonContainer{
  text-align: center;
}

.sendButton{
  justify-content: center;
  text-align: center;
  width: auto;
  width: 175px;
  padding: 0.5rem;
  font-style: normal;
  font-size: 25px;
  border-radius: 5px;
  border-color: transparent;
  color: black;
  background-color: #4FB6CE;
  font-weight: 700;
}

.sendButton:hover{
  color: rgb(231, 232, 224);
  background-color: #034357;
}


/************************************************************/