/* Main Page Style */
body {
    font-family: 'Inter', sans-serif;
    background-color: #ebece5;
}

.page_title {
    color: #333;
    font-size: 48px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

/* Flex Wrapper & Containers */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper > div {
    font-size: 24px;
    color: black;
    background: white;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
  }

  /* Owner Container Content */
  .owner_profile {
    max-width: 400px;
    min-width: 400px;
    max-height: 550px;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
  }

  .owner_name {
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    text-align: center;
    width: 100%;
  }

  .owner_email {
    font-size: 18px;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
  }

  .owner_phone {
    font-size: 18px;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
  }

  /* Owner Bio Container */
.owner_bio {
    background-color: white;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    min-width: 400px;
    max-width: 900px;
}

.owner_bio > p {
    margin-inline: calc(var(--spacing) * 15px);
    text-indent: 15px;
    margin: .3em;
    font-size: 24px;
}

/* Dev Team Header */
.dev_head {
    font-size: 48px;
    text-align: center;
    padding-top: 48px;
    color: #333;
}

.dev_desc {
    font-size: 24px;
    color: #333;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Dev Team Content */
.dev_container {
    background-color: white;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
    min-width: 250px;
    max-width: 250px;
}

.dev_content {
    font-size: 18px;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
}

.dev_name {
    text-align: center;
    font-size: 24px;
    width: 100%;
}
