/************************************************************/
/* Default Styling For Entire Page*/

*
{
  padding: 0px;
  margin: 0px;
}

/************************************************************/
/* Contains Everything Related To The Main Div For The Reset
   Password Page, Starts Below The Navigation Bar 
*/

.Container{

  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: calc(100vh - 100px);
  /* background-color: rgb(231, 232, 224); Red to see div*/
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

/************************************************************/
/* Contains Everything Related To The Reset Password Form */

.resetPasswordForm{

  justify-content: center;
  align-items: center;
  background-color: rgb(231, 232, 224); /* Green to see div*/
  padding: auto;
  padding: 4rem;
  border-radius: 5px;
  border: 2px solid #B4B4B4;
  box-shadow: 0px 0px 10px 2px black;
}

/************************************************************/
/* Contains Everything Related To The New Password Input */

.newPasswordLabel{
  display: inline;
  color: black;
}

.newPasswordInput{
  width: 300px;
  height: 45px;
  font-size: 20px;
  border: 2px solid #B4B4B4;
  border-radius: 5px;
  padding-left: 5px;
  color: black;
  background-color: rgb(231, 232, 224);
}

.newPasswordInput:focus{
  outline: none;
  border-color: transparent;
  border: 3px solid #2B96B7;
  caret-color: #2B96B7;

}

.newPasswordAsterisk{
  color: red;
}

/************************************************************/
/* Contains Everything Related To The Confirm Password Input 
*/

.confirmPasswordLabel{
  display: inline;
  color: black;
}

.confirmPasswordInput{
  width: 300px;
  height: 45px;
  font-size: 20px;
  border: 2px solid #B4B4B4;
  border-radius: 5px;
  padding-left: 5px;
  color: black;
  background-color: rgb(231, 232, 224);
}

.confirmPasswordInput:focus{
  outline: none;
  border-color: transparent;
  border: 3px solid #2B96B7;
  caret-color: #2B96B7;

}

.confirmPasswordAsterisk{
  color: red;
}

/************************************************************/
/* Contains Everything Related To The Save Button */

.saveButtonContainer{
  text-align: center;
}

.saveButton{
  width: auto;
  width: 175px;
  padding: 0.5rem;
  font-style: normal;
  font-size: 25px;
  border-radius: 5px;
  border-color: transparent;
  color: black;
  background-color: #4FB6CE;
  font-weight: 700;
}

.saveButton:hover{
  color: rgb(231, 232, 224);
  background-color: #034357;
}

/************************************************************/