body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: black;

}

.reviews_title{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, p {
    margin-left: 20px;
}

h1 {
    color: #333;
}

.top-level {
    display: flex;
    flex-direction: row;
}

.star_box {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    width: 100%;
}

.star_box_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.star_average {
    font-size: 40px ;
    font-weight: bold;
}

.star_bars {
    border-left: solid;
    padding-left: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment to start */
}


.rating_stars {
    margin-right: 10px; /* Space between stars and bar */
}

.star {
    font-size: 18px; /* Adjust size as needed */
    margin-right: 2px; /* Space between stars */
}

.filled {
    color: orange; /* Color for filled stars */
}

.outlined {
    color: #ccc; /* Color for outlined stars, adjust as needed */
}

.rating_row {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure this is maintaining the intended width */
    margin: -2px;
}

.star_bar {
    background-color: orange;
    height: 20px;
    border-radius: 5px;
    max-width: 70%; /* Limit the maximum width */
}


.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.left h2 {
    margin: 5px 0;
}


.sort_section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.sort_section select {
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.feedback_section {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.leave_review {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    max-width: 50%;
    align-self: center;
    border: solid;
    border-color: #ffa600;
}

.reviews {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.review-card {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.review-stars {
    color: orange;
    font-size: 20px;
}
