
body {
    font-family: inter;
    background-color: #ebece5;
}

.wrapper {
    display: flex;
  }
  .wrapper > div {
    font-size: 24px;
    color: black;
    background: white;
    margin: .4em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
  }

.owner_profile {
    max-width: 400px;
}

.owner_profile img {
    width: 400px;
}

.owner_header {
    font-size: 48px;
    text-align: center;
}

.owner_name {
    text-align: center;
}

.dev_header {
    font-size: 48px;
    text-align: center;
    padding-top: 48px;
}